<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swift2vue</title>
    {{#each styles}}
    <link rel="stylesheet" href="./styles/{{this}}.css" />
    {{/each}}
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import { createApp } from 'vue'
      {{#each imports}}
      import {{this}} from './{{this}}.js'
      {{/each}}

      window.print = console.log;

      createApp({
        components: {
          {{#each imports}}
          {{this}},
          {{/each}}
        },
        template: `
          {{{ index_template }}}
        `
      }).mount('#app')
    </script>
  </body>
</html>
